@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav style */
.navbar-custom {
    background: linear-gradient(to right, #f8f8f8, #fff);
  }
  .btn-custom {
    background-color: #ff7f50;
    font-size: 18px;

  }
  .btn-custom:hover {
      background-color: #ff7f50;
      color: white;
    opacity: 0.8;
  }
  /* end nav style */
  /* hero style */
  .content-section {
    padding: 20px;
}
.content-section .content {
    max-width: 100%;
    padding: 20px;

}
.carousel img {
    width: 100%;
    height: auto;
}
.btn-custom {
    background-color: orange;
    color: white;
    border: none;

}
/* end hero style */
/* start about style */

.div1 > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1 > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.div1{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 220px 220px  ;
    grid-template-rows: 230px 230px ;
}
@media (max-device-width: 767px){
    .div1{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 180px 180px  ;
        grid-template-rows: 230px 230px ;
    }

}


.div2{
    grid-column:1 / 2 ;
    grid-row: 1 / 3;
}

.div4{
    grid-column: 2 / 3;

}
.btn {
display: inline-block;
padding: 10px 20px;
background-color: #FF6C3C;
color: #fff;
text-decoration: none;
border-radius: 5px;
margin-top: 10px;
}
.highlight{
color: #8A47F6;
}
/* end about us style */
/* start portfolio style */

.maindiv > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.maindiv> div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.maindiv{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 242px 242px 242px 242px   ;
    grid-template-rows: 200px 200px 200px 200px ;
    margin-left: 5px;
}
.rec11{
    grid-row: 1 / 3;
}
.rec12{
    grid-column: 2 / 4;
}
.rec15{
    grid-column: 3 / 5;
}
.rec16{
    grid-column: 1 / 3;
}
.rec18{
    grid-row: 3 / 5;
    grid-column: 4 / 5;
}
.rec20{
    grid-column: 2 /4;
}


@media (max-device-width: 767px){
    .mainh1{
        font-size: 38px;
    }

    .mainnav ul li{
        font-size: 16px;
        margin-right: 5px;
    }

    .maindiv > div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.maindiv> div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.maindiv{

    display: grid;
    grid-gap: 15px;
    grid-template-columns: 120px 120px 110px    ;
    grid-template-rows: 150px 150px 150px 150px 150px ;
}
.rec11{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.rec12{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
.rec13{
    grid-row: 2/3;
    grid-column: 2 / 3;
}
.rec14{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.rec15{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.rec16{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.rec17{
    grid-column: 1 /2;
    grid-row: 4 / 5;
}
.rec20{
    grid-column: 1 /3 ;
    grid-row: 5 / 6;
}
.rec19{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.rec18{
    grid-column: 3 / 4;
    grid-row: 4 / 6;
}

}
/* end our portpolio style */

@media (max-device-width: 767px){
    .div2{
        & img{
            width: 100%;
        }
    }
}


/* start instagram feed style */
.instadiv > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.instadiv> div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.instadiv{
    display: grid;

    grid-gap: 15px;
    grid-template-columns: 250px 250px 250px 250px   ;
    grid-template-rows: 170px 170px 170px  ;

}
.rec40{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.rec36{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.rec37{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}
.rec38{
    grid-column: 3 / 4 ;
    grid-row: 2 / 4;
}
.rec39{
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}
.rec35{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

@media (max-device-width: 767px){
    .test-h3{
        text-align: center;
    }

    .instadiv > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.instadiv> div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.instadiv{
    display: grid;

    grid-gap: 5px;
    grid-template-columns: 115px 115px 115px 115px   ;
    grid-template-rows: 100px 100px 100px 100px ;


}
.rec40{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.rec36{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.rec37{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
.rec38{
    grid-column: 3 / 4 ;
    grid-row: 2 / 4;
}
.rec39{
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}
.rec35{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

}
/* end instagram feed style */

/* start Question sec */
.form-section {
    padding: 50px 0;
  }
  .contact-card {
    background-color: #f1e5ff;
    padding: 20px;
    border-radius: 15px;
  }
  .contact-icon {
    color: #a15ff7;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .contact-info {
    margin-top: 15px;
  }
  .contract-p{
    font-size: 18px;
  }
  .contract-p2{
    font-size: 16px;
  }

  .form-heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    color: #333;

  }
  .form-description {
    color: #222;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .gradient-background {
    background: linear-gradient(to bottom right, #ede1ff, #fff);
  }
  /* end question sec */

/* start footer style */
.ul-custom li{
    text-decoration: underline;
}


.ul-custom li:hover{
    text-decoration: none;
    color: gold;
    cursor: pointer;

}

.icon-custom .faceicon{
    color: white;
}

.icon-custom .faceicon:hover{
    color: #1877F2;
    cursor: pointer;
}

.icon-custom .insta-icon{
    color: white;
}

.icon-custom .insta-icon:hover{
    color:  #c13584;
    cursor: pointer;
}


.icon-custom .twit-icon{
    color: white;
}

.icon-custom .twit-icon:hover{
    color:#1DA1F2;
    cursor: pointer;
}
/* end footer style */
