
/* @media (max-device-width: 767px){
    .footdiv-1{
        width: 100%;
        text-align: center;

    }

    .footdiv-1 .logoimg{
        width: 120px;

    }
} */

::-webkit-scrollbar{
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-thumb{
    background: #FE8C45;
}